@font-face {
	font-family: erytmy;
	src: url(antrf.ttf);
}

h1, h2, h3, h4, h5, .dropdown, a {
	font-family: erytmy;
  letter-spacing: 0.8px;
}

h2 {
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  letter-spacing: 0.8px;
}

.navbar {
	border-radius: 0px;
	margin-bottom: 0px;
}

.row {
	margin-top: 20px;
  animation: niceLand 1s ease-in-out;
  animation-duration: 1s;
}

/*img {
  filter: grayscale(100%);
}*/

@keyframes niceLand {
  0% {
    transform: translateY(50px); 
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.back-to-top {
  color: #ffffff;
  position: fixed;
  display: none;
  bottom: 20px;
  right: 20px;
  background-color: #337ab7;
  padding: 13px;
  opacity: 5;

}

.format-text, p {
  letter-spacing: 0.6px;
  line-height: 170%;
  font-size: 1.5vw;
}

.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}

.alert {
  margin-bottom: 0px;
  border-radius: 0px;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  transition-duration: 3s;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.badge {
padding: 7px;
}

.badge-light {
  color: #cbced2;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: rgba(0, 123, 255, 0.13);
    border: 0px;
}

article.
img {
  float: left;
  padding: 10px;
}

.modal-card {
  width: 970px;
}

@media screen and (min-width: 576px) {
  .slice {
    display: none;
  }
}

@media screen and (max-width: 768px) { 
  .slice {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .slice {
    display: block;
  }
}